<!DOCTYPE html>
<!-- file: views/auth/login.html -->
<html>

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {{> header}}
</head>

<body>
    <div class="row align-items-start" style="text-align: center;">
        <div class="col-4"></div>
        <div class="col-4" style=" margin-left: 0%;">
            <form action="/login" method="POST">
                <h4>Login Page</h4>
                <p>
                    {{#error}}
                    <p>User or password invalid. Try Again.</p>
                    {{/error}}
                    <div class="row">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input class="form-control" type="email" name="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input class="form-control" type="password" name="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <input class="btn btn-primary" type="submit" value="Login">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <a class="button" href="/register">Registration</a>
                        </div>
                    </div>
                </p>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
    <!-- <div class=" position-relative" style="text-align: center;"> -->
    <!-- <div class="position-absolute top-100 start-50 translate-middle mt-1 bi bi-caret-down-fill">
            {{> navbar}}
            
            </div>
            </div> -->
</body>