<div class="row">
    <div class="eleven column" style="margin-top:   0%">
        <h2>{{title}}</h2>
        {{#libro_m}}
        <form>
            <div class="row">
                <div class="six columns">
                    <label for="titleInput">Title</label>
                    <input class="u-full-width" type="text" {{#show}} readonly {{/show}} id="title" name="title" value="{{title}}">
                </div>
                <div class="six columns">
                    <label for="editionInput">Edition</label>
                    <input class="u-full-width" type="text" {{#show}} readonly {{/show}} id="edition" name="edition" value="{{edition}}">
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <label for="copyrightInput">Copyright</label>
                    <input class="u-full-width" type="text" {{#show}} readonly {{/show}} id="copyright" name="copyright" value="{{copyright}}">
                </div>
                <div class="six columns">
                    <label for="languageInput">Language</label>
                    <input class="u-full-width" type="text" {{#show}} readonly {{/show}} id="language" name="language" value="{{language}}">
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <label for="pagesInput">Pages</label>
                    <input class="u-full-width" type="text" {{#show}} readonly {{/show}} id="pages" name="pages" value="{{pages}}">
                </div>
            </div>
            <input type="hidden" id="input_id_author" value="{{author_id}}">
            <input type="hidden" id="input_id_publisher" value="{{publisher_id}}">
            <!--  -->
            {{/libro_m}}
            <h3>Aditional information</h3>
            <div class="row">
                <div class="six columns">
                    <!-- Si es mostrar -->
                    {{#show}} {{#editorial_m}}
                    <label for="publisherInput">Publisher</label>
                    <input class="u-full-width" type="text" {{#show}} readonly {{/show}} id="publisher" name="publisher" value="{{publisher}}"> {{/editorial_m}}{{/show}}
                    <!-- Si no es mostrar -->
                    {{^show}}
                    <div class="">
                        <legend>Publisher</legend>
                        <select class="form-control" name="publisher_id" id="select_publisher">
                            {{#editorial_m}}
                            <option value="{{id}}">{{publisher}}</option>
                            {{/editorial_m}}
                        </select>
                    </div>
                    {{/show}}
                </div>
                <div class="six columns">
                    <!-- Si es mostrar -->
                    {{#show}} {{#autor_m}}
                    <label for="authorInput">Author</label>
                    <input class="u-full-width" type="text" {{#show}} readonly {{/show}} id="author" name="author" value="{{author}}"> {{/autor_m}}{{/show}}
                    <!-- Si no es mostrar -->
                    {{^show}}
                    <div class="">
                        <legend>Author</legend>
                        <select class="form-control" name="author_id" id="select_author">
                            {{#author_m}}
                            <option value="{{id}}">{{author}}</option>
                            {{/author_m}}
                        </select>
                    </div>
                    {{/show}}
                </div>
            </div>

            <a class="button button-primary" href="/libro" data-navigo>Back</a> {{#edit}}{{#libro_m}}
            <a class="button button-primary" style="float: right" data-navigo href="/libro/update/{{id}}">Update</a> {{/libro_m}}{{/edit}} {{#create}}
            <input type="hidden" name="_method" value="PUT">
            <a class="button button-primary" style="float: right" data-navigo href="/libro/store">Create</a> {{/create}}
        </form>
    </div>
</div>
<script>
    $(document).ready(function() {
        var id_author = $("#input_id_author").val()
        $("#select_author option[value=" + id_author + "]").attr("selected", true);

        var id_publisher = $("#input_id_publisher").val()
        $("#select_publisher option[value=" + id_publisher + "]").attr("selected", true);
    });
</script>