<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion Libro</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/libros">Libros</a>
                        <a class="dropdown-item" href="/autores">Autores</a>
                        <a class="dropdown-item" href="/    editoriales">Editoriales</a>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="container">
        {{#muestra}}
        <form>{{/muestra}} {{#Libro_m}} {{#crea}}
            <form action="/libros" method="POST">
                {{/crea}} {{#edita}}
                <form action="/libros/{{id}}" method="POST">
                    <input type="hidden" name="_method" value="PUT"> {{/edita}}
                    <fieldset {{#disabled}}disabled{{/disabled}}>
                        <div class="row">
                            <div class="col-6 col-sm-3">
                                <legend>Title</legend>
                                <div class="mb-3">
                                    <input type="text" id="" name="title" class="form-control" placeholder="" value="{{title}}">
                                </div>
                            </div>
                            <div class="col-6 col-sm-3">
                                <legend>Edition</legend>
                                <div class="mb-3">
                                    <input type="text" id="" name="edition" class="form-control" placeholder="" value="{{edition}}">
                                </div>
                            </div>
                            <div class="col-6 col-sm-3">
                                <legend>Copyright</legend>
                                <div class="mb-3">
                                    <input type="text" id="" name="copyright" class="form-control" placeholder="" value="{{copyright}}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-sm-3">
                                <legend>Language</legend>
                                <div class="mb-3">
                                    <input type="text" id="" name="language" class="form-control" placeholder="" value="{{language}}">
                                </div>
                            </div>
                            <div class="col-6 col-sm-3">
                                <legend>Pages</legend>
                                <div class="mb-3">
                                    <input type="text" id="" name="pages" class="form-control" placeholder="" value="{{pages}}">
                                </div>
                            </div>
                            {{^muestra}}
                            <input type="hidden" id="input_id_author" value="{{author_id}}">
                            <input type="hidden" id="input_id_publisher" value="{{publisher_id}}"> {{/Libro_m}}
                            <div class="col-6 col-sm-3">
                                <legend>Author</legend>
                                <div class="mb-3">
                                    <select class="form-control" name="author_id" id="select_author">
                                {{#authores_m}}
                                <option value="{{id}}">{{author}}</option>
                                {{/authores_m}}
                            </select>
                                </div>
                            </div>
                            {{~muestra}} {{#muestra}}

                            <div class="col-6 col-sm-3">
                                <legend>Author</legend>
                                {{#Autor_m}}
                                <div class="mb-3">
                                    <p class="form-control"><a href="/autores/{{id}}">{{author}}</a></p>
                                </div>
                                {{/Autor_m}}
                            </div>
                        </div>
                        <!-- {{/Libro_m}} -->
                        <div class="row">
                            <div class="col-6 col-sm-3">
                                <legend>Publisher</legend>
                                {{#Editorial_m}}
                                <div class="mb-3" name="publisher_id">
                                    <p class="form-control"><a href="/editoriales/{{id}}">{{publisher}}</a></p>
                                </div>
                                {{/Editorial_m}}
                            </div>
                            {{/muestra}}
                        </div>
                        {{^muestra}}
                        <div class="row">
                            <div class="col-6 col-sm-3">
                                <legend>Publisher</legend>
                                <div class="mb-3" name="">
                                    <select class="form-control" name="publisher_id" id="select_publisher">
                                    {{#editorials_m}}
                                    <option value="{{id}}">{{publisher}}</option>
                                    {{/editorials_m}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        {{~muestra}}
                    </fieldset>
                    {{^muestra}}
                    <input type="submit" class="btn btn-success btn-lg" value="Save"> {{~muestra}}
                </form>
    </div>
</body>
<script>
    $(document).ready(function() {
        var id_author = $("#input_id_author").val()
        $("#select_author option[value=" + id_author + "]").attr("selected", true);

        var id_publisher = $("#input_id_publisher").val()
        $("#select_publisher option[value=" + id_publisher + "]").attr("selected", true);
    });
</script>

</html>